{{> head }}
{{> navbar }}




<div class="row">
    <div class="col-8">
        <h1>Hola muy buenas a todos, como se encuentran</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor veritatis consectetur nulla culpa ipsum debitis animi? Vero veritatis ad necessitatibus consequatur sapiente, repellat est dicta corrupti amet. Consectetur minus aperiam laboriosam, ipsum omnis quod rem? Vero totam molestiae neque itaque quae corrupti dolores, hic voluptatem sequi officia consequatur unde obcaecati fuga maxime pariatur quia natus a repellendus laboriosam fugiat possimus aperiam quaerat! Quis repellat, deserunt officia tempora molestiae aspernatur voluptatum harum autem laboriosam ut esse sed eligendi dolor nisi necessitatibus odit nobis voluptatem? Tenetur aliquid a ipsa eveniet commodi ea sapiente quod sit labore, dolorum ipsam doloribus, minus voluptates nesciunt.</p>
    </div>
    <div class="col-4">
        <img src="{{img}}" class="img-thumbnail">
    </div>
</div>


{{> footer }}